@model IEnumerable<TechFest.Backbone.Models.Book>

@{
    ViewBag.Title = "BookCollection";
}
<script src="../../Scripts/tf.Book.js" type="text/javascript"></script>
<h2>BookCollection</h2>

<ul id='books'>

</ul>

<script type="text/javascript">

var tf = tf || {};
tf.RawBooks = @Html.Raw(Json.Encode(Model));    

$(document).ready(function() { 
    //convert raw data to a backbone model
    tf.BookCollection = [];
    //populate array of bookviews
    _.each(tf.RawBooks, function(x) {                     
           tf.BookCollection.push(new tf.BookView({model : new tf.BookModel(x)}));       
    });
    //render them
    _.each(tf.BookCollection, function(x) {
        $('#books').append(x.render().el);
    });
});

//so what -> we just stabilized and reused code, we can test it, and DEVELOP it and MAKE IT BETTER.

</script>
