
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<div id='myel'></div>
<ul id='myul'>
</ul>

<ul>
    <li class='myli'></li>
    <li class='myli'></li>
    <li class='myli'></li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
   

           

    });


    function BookViewModel(data) {
        this.Title = ko.
    }

    //either use #el
    //or
    // $('#el').append(v.render().el);

</script>