

<h2>Single Book</h2>
<ul id='books'>
</ul>

<script type='text/javascript'>

var tf = tf || {};

tf.rawBook =
    { "id": 1, "Title": "RabbitMQ in Action", "PageCount": 200, "Likes": 0, "PubDate": "\/Date(1336104000000)\/" };

    $(document).ready(function () {

        _.templateSettings = {
            interpolate: /\{\{(.+?)\}\}/g
        };

        //1 create a bb Book Model and instance
        tf.BookModel = Backbone.Model.extend({
            incrementLikes: function () {
                var currentLikes = this.get("Likes");
                this.set('Likes', currentLikes + 1);
            }
        });


        tf.bookModel = new tf.BookModel(tf.rawBook);

        //2 create the BookView and instance

        tf.BookView = Backbone.View.extend({
            //inherited members
            tagName: 'li',
            render: function () {
               },
            events: {
                //'eventname selector' : 'callback'
             },
            initialize: function () {
                this.model.on('change', this.render, this);

            },
            //custom
            like: function () {
                this.model.incrementLikes();
            }
        });
    
        tf.bookView = new tf.BookView({ model: tf.bookModel });
        //3 render aond insert into dom
        $('#books').append(tf.bookView.render().el);


    });

//so what?

</script>

<script type='text/html' id='bookTemplate'>
    {{Title}} - ({{Likes}} likes) <span class='likeButton'>[L]</span>
</script>   