@model TechFest.Backbone.Models.Book

@{
    ViewBag.Title = "SingleBook";
}

<h2>SingleBook</h2>
<div id='singlebook'>
default
</div>


<script type="text/javascript">

$(document).ready(function() {

    var rawmodel = @Html.Raw(Json.Encode(Model)); 
    var bbmodel = new Backbone.Model(rawmodel);
    
    var BookView = Backbone.View.extend({
            events: { 
              'click' : 'somethingelse'        
             },
             somethingelse: function() {
                alert('this has ' + this.model.get('Likes') + ' likes');
             },
             render: function() {               
                $(this.el).html(this.model.get('Title'));
             }
    });

    //pass in model.  !!el is an object ref!!

    var v = new BookView({model : bbmodel, el: $('#singlebook') });
    v.render();       

});



</script>
