@model TechFest.Backbone.Models.Book

@{
    ViewBag.Title = "SingleBook";
}

<h2>SingleBook</h2>
<ul id='books'>

</ul>

<script type="text/javascript">

$(document).ready(function() {

    //bootstrap in some data
    var rawmodel = @Html.Raw(Json.Encode(Model)); 
    
    //wrap our raw server data
    var bbmodel = new Backbone.Model(rawmodel);

    //create the BookView prototype (class)    
    var BookView = Backbone.View.extend({
            tagName: 'li',
            events: { 
              'click' : 'showlikes'        
             },
             showlikes: function() {
                alert('book has ' + this.model.get('Likes') + ' likes');
             },
             render: function() {               
                $(this.el).html(this.model.get('Title'));
                return this;
             }
    });

    //new up a new BookView with our model
    var v = new BookView({model : bbmodel});
    $('#books').append(v.render().el);

});



</script>
